.repeat-section {
  position: relative;
  border: 1px solid rgba(0, 3, 3, 0.12);
  margin-top: 2rem;
  padding: 2rem 3rem 1rem 1rem;
  .section-label {
    position: absolute;
    left: 0;
    top: -1.25rem;
  }
}

.flex-row {
  display: flex;
}
.flex-row button {
  margin-right: 1rem;
}

.remove-repetition-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.add-repetition-wrapper {
  margin-bottom: 2rem;
  display: flex;

  .add-repetition-label {
    margin-top: auto;
    margin-bottom: auto;
  }
}
