.paste-box {
  padding: 1rem 1.5rem;
  background-color: #e7f5ff;
  margin: 20px;

  mat-icon.pl-2 {
    width: 24px;
    margin-right: 0;
  }
}

.knowledge-info {
  display: flex;

  mat-icon {
    width: 1.5rem;
    margin-right: 0.5rem;
  }

  margin-bottom: 1rem;
}
