:host {
  --mdc-text-button-label-text-color: var(--color-primary);;
}

::ng-deep .mat-mdc-tab-label-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

:host ::ng-deep .mat-mdc-tab {
  letter-spacing: normal;
}

:host ::ng-deep .mat-mdc-button {
  letter-spacing: normal;
}

:host ::ng-deep .mat-mdc-tab-label-container {
  width: 25vw;
  background-color: var(--color-white);
  border-bottom-right-radius: 0;
  border-right-color: rgba(0, 3, 3, 0.12);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-right-radius: 0;
}

:host ::ng-deep .mat-mdc-outlined-button {
  letter-spacing: normal;
}

:host ::ng-deep .info-notification-text {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  margin-bottom: 8px;

  span.message {
    padding-top: 4px;
  }
}

:host ::ng-deep .info-link {
  margin-left: 28px;
  margin-bottom: 1rem;
}

:host ::ng-deep .ITEM_GROUP {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 3, 3, 0.12);
  display: block;
}
//
//.action-bar-wrapper {
//  margin-left: calc(25vw - 0.5px);
//  display: flex;
//  border-left-color: rgba(0, 3, 3, 0.12);
//  border-left-style: solid;
//  border-left-width: 1px;
//}
//
//.action-bar {
//  display: flex;
//  flex: 1;
//  justify-content: space-between;
//  margin-right: auto;
//  margin-left: auto;
//  max-width: 1140px;
//  padding: 20px;
//}

.action-bar-wrapper {
  margin-left: calc(25vw - 0.5px);
  display: flex;
  border-left-color: rgba(0, 3, 3, 0.12);
  border-left-style: solid;
  border-left-width: 1px;
}

.action-bar {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  padding: 20px;
}

.back-button-container {
  margin-right: auto;
}

.button-group {
  display: flex;
  gap: 10px;
}


app-hexhexbutton {
  position: absolute;
  left: 0;
  top: 300px;
  width: 25vw;
  z-index: 999;
}

app-paste-box {
  position: absolute;
  top: 350px;
  left: 0;
  width: 25vw;
  z-index: 999;
}
