<form [formGroup]="form" (ngSubmit)="submitForm()" appCheckLabelLength>
  <formly-form [model]="model" [fields]="fields" [form]="form" [options]="formOptions"></formly-form>
  <div class="action-bar-wrapper">
    <div class="action-bar">
      <div class="back-button-container">
        <button mat-button id="back-button" class="btn navigate--color back" [disabled]="!canGoBack()" type="button" (click)="goBack()">
          <mat-icon fontIcon="arrow_back_ios"></mat-icon>
          <span>Zurück</span>
        </button>
      </div>
      <div class="button-group">
        <button mat-button id="forward-button" class="btn navigate--color style forward" [disabled]="!canGoForward()" type="button"
                (click)="goForward()">
          <span>Weiter</span>
          <mat-icon iconPositionEnd fontIcon="arrow_forward_ios"></mat-icon>
        </button>
        <button mat-button id="send-button" class="btn style dark--color" [disabled]="!form.valid" type="submit">
          <span>Abschicken</span>
          <mat-icon class="btn__icon margin--left rotate" iconPositionEnd fontIcon="send"></mat-icon>
        </button>
      </div>
    </div>
  </div>
</form>
<app-hexhexbutton (paste)="hexHex()"></app-hexhexbutton>
<app-paste-box (paste)="paste()"></app-paste-box>
