.mat-icon.gem-demis-form-field-label-info-icon {
  font-size: 28px;
  margin: 0;
  margin-left: 8px;
  color: var(--color-primary);
  fill: var(--color-primary);
}

.mat-icon.gem-demis-form-field-label-info-icon:hover {
  cursor: help;
}
