# Default values for portal-module-template.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

required:
  #Define the docker image
  image:
    repository: europe-west3-docker.pkg.dev/gematik-all-infra-prod/demis-dev
    name: portal-disease
    tag: null

## configure file templates in config-files folder added to config map
## you can override complete files in config-files folder by replacing content
## e.g.
## files:
##   import-map.json: |-
##     {
##     }
config:
  production: true
  ## these are physical routes, relative to the pod URL of this micro frontend, not angular ones
  gatewayPaths:
    main: ../gateway/notification/api/ng/notification/disease
    disease_6_1: /6.1
    disease_7_3_non_nominal: /7.3/non_nominal
  futsPaths:
    main: ../fhir-ui-data-model-translation/disease
    notificationCategories_6_1: /6.1
    disease_7_3: /7.3/non_nominal
    notificationCategories_7_3: /7.3
    questionnaire: /questionnaire
    questionnaire_6_1: /6.1/questionnaire
    questionnaire_7_3: /7.3/questionnaire
  pathToFuts: ../fhir-ui-data-model-translation
  files: { }
  featureFlags: #Always set this to false here; feature flags will then be activated as needed via the stage configurations.
    FEATURE_FLAG_PORTAL_ERROR_DIALOG: false
    FEATURE_FLAG_PORTAL_ERROR_DIALOG_ON_SUBMIT: false
    FEATURE_FLAG_PORTAL_PASTEBOX: false
    FEATURE_FLAG_OUTLINE_DESIGN: false
    FEATURE_FLAG_NON_NOMINAL_NOTIFICATION: false
    FEATURE_FLAG_NEW_API_ENDPOINTS: false
    FEATURE_FLAG_DISEASE_DATEPICKER: false
    FEATURE_FLAG_PORTAL_SUBMIT: false
  ngxLoggerConfig:
    level: 1,
    disableConsoleLogging: true
  newApiEndpoints:
    pathToFuts: ../../translation/ui-data-model/v6/fhir
    futsPaths:
      main: ../../translation/ui-data-model/v6/fhir/disease
    gatewayPaths:
      main: ../../gateway/disease/notification/disease

# Extra Labels to be added
# E.g.
# customLabels:
#   my-label: my-label-value
customLabels: { }

# Extra labels for deployments
deploymentLabels: { }

# Extra Environment Variables to be defined
# customEnvVars
#   key: value
customEnvVars:
  PORTAL_CSP_HOSTNAME: 'https://auth.ingress.local/ https://portal.ingress.local/'

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: { }
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ''

# The Pull Policy for the Image
imagePullPolicy: IfNotPresent
# Define Image Pull Secrets if using private registry
imagePullSecrets: [ ]
nameOverride: 'portal-disease'
fullnameOverride: 'portal-disease'

podLabels: { }

# Annotations for Workload
annotations: { }

# Annotations for Pods
podAnnotations: { }

# Pod Security Context - applies to all containers in a Pod
podSecurityContext:
  # The GID to tell the Kubelet to modify permissions of a volume owned by a pod
  fsGroup: 101
  # Determines when to apply fsGroup actions - "Always" is the default
  fsGroupChangePolicy: 'OnRootMismatch'
  # Which GID container process is assigned
  runAsGroup: 101
  # Determine whether container process starts as root (UID 0)
  runAsNonRoot: true
  # Which UID container process is assigned (nginx uid=999)
  runAsUser: 101

# Container Security Context for a single container - Takes precedence over PodSecurityContext
securityContext:
  #defines whether container can be granted privileges beyond the parent process spawing the process
  allowPrivilegeEscalation: false
  #Define whether the container has privileged access e.g. CAP_SYS_ADMIN capability and SELinux spc_t type
  privileged: false
  #Usually no longer required. Determines whether /proc is masked to the container. Do not mount /proc from a host to a container
  procMount: 'Default'
  # The SELinux context to be applied to the container. Must not be explicitly set to Unconfined.
  seccompProfile:
    type: 'RuntimeDefault'
  #Which GID container process is assigned
  runAsGroup: 101
  # Determine whether container process starts as root (UID 0)
  runAsNonRoot: true
  #Which UID container process is assigned
  runAsUser: 101
  # Sets the file system as read-only - TODO: set to true
  readOnlyRootFilesystem: true
  #Ability to remove and /or add Linux Capabilities
  capabilities:
    drop:
      - all

service:
  type: ClusterIP
  ports:
    http: 8080

# Default Resources
resources:
  limits:
    cpu: '500m'
    memory: '256Mi'
  requests:
    cpu: '100m'
    memory: '64Mi'

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: { }

tolerations: [ ]

istio:
  enable: true
  validateJwt: false
