<div id="rejected-container" class="d-flex flex-column flex-grow-1">
  <h1 id="fail-title" mat-dialog-title>
    <mat-icon class="mr-3" id="icon-error">error</mat-icon>
    Meldung konnte nicht zugestellt werden!
  </h1>
  @if (result) {
    <div mat-dialog-content class="d-flex flex-column flex-grow-1 pb-1">
      <div id="fail-message">
        <p>{{ result.message }}</p>
      </div>

      <div>
        <mat-accordion>
          @if (result.messageDetails) {
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Mehr Details</mat-panel-title>
              </mat-expansion-panel-header>

              <p>
                <b id="fail-messagedetails">{{ result.messageDetails }}</b>
              </p>

              @if (result.problems) {
                <div>
                  <table mat-table [dataSource]="result.problems!" class="mat-elevation-z8">
                    <ng-container matColumnDef="code">
                      <th mat-header-cell *matHeaderCellDef>code</th>
                      <td id="table-field" mat-cell *matCellDef="let element">{{ element.code }}</td>
                    </ng-container>
                    <ng-container matColumnDef="message">
                      <th mat-header-cell *matHeaderCellDef>Message</th>
                      <td id="table-message" mat-cell *matCellDef="let element">
                        {{ element.message }}
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['code', 'message']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['code', 'message']"></tr>
                  </table>
                </div>
              }
            </mat-expansion-panel>
          }
        </mat-accordion>
      </div>
    </div>
  }

  <div class="dialog-actions" mat-dialog-actions>
    <button mat-button id="btn-back-to-report" class="btn style dark-color" mat-dialog-close>Zurück zur Meldung</button>
  </div>
</div>
