.chip-list-wrapper {
  background-color: #FFFFFF;;
  margin-top: -1rem;
  margin-right: -1rem;
  margin-left: -1rem;
  margin-bottom: 1rem;
}

.autocomplete-breadcrumb {
  font-size: 12px;
  margin-top: -14px;
  margin-bottom: 12px;
}
