:host ::ng-deep .mat-mdc-tab-body-content {
  overflow: hidden;
}

.section-body {
  overflow-y: auto;
  overflow-x: hidden;
  // max-height: calc(100% - 160px);
  max-width: 1140px;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
}

// TODO: can be removed when portal-core sidenav and gem-demis-section-header is used
.section-header {
  padding: 45px 20px 0;
}

.unselected-tab {
  font-weight: normal;
  color: var(--color-primary);
}

.selected-tab {
  font-weight: bold;
  color: var(--color-primary);
}
